# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../commingsoom\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\workingprojects\commingsoom\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
